<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error page</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
</head>
<body>


<h2>Error:</h2>
<table>
    <tr>
        <td>Time stamp</td>
        <td th:text="${timestamp}"/>
    </tr>
    <tr>
        <td>Path</td>
        <td th:text="${path}"/>
    </tr>
    <tr>
        <td>Error</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Status</td>
        <td th:text="${status}"/>
    </tr>

</table>
<br/>
<a href="../index.html" th:href="@{/}" type="button">
    <button th:text="#{return-to-index-page-button-caption}">Return to index page</button>
</a>
</body>
</html>